code[data-theme*=" "] {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  direction: ltr;
}

code[data-theme*=" "] span {
  color: var(--shiki-light);
  direction: ltr;
}

[saved-theme="dark"] code[data-theme*=" "] {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
  direction: ltr;
}

[saved-theme="dark"] code[data-theme*=" "] span {
  color: var(--shiki-dark);
  direction: ltr;
}
